@font-face {
    font-family: 'CustomFont';
    src: url('fonts/Silkscreen-Regular.ttf');
}
body {
    font-family: 'CustomFont';
}
header {
    background-color: #22365b;
    color: white;
    padding: 10px 0;
    text-align: center;
}
body {
    font-family: 'CustomFont';
    margin: 0;
    padding: 0px;
    background-color: #837eb2;
}
.container {
    width: 90%;
    margin: 20px auto;
    background: #d7d9ff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}
p {
    font-size: 1.3em;
    line-height: 1.5;
}
button {
    background-color: #605a91;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    font-family: 'CustomFont';
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0px;
}
button:hover {
    background-color: #524c81;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li {
    display: inline;
}