<!-- jinja -->
{% extends "index.html" %}

{% block content %}
    <section>
        <div class="about-content">
            <p style="font-size:50px; margin:30px;padding-top:25px;"><mark class="highlight2">About Me: Ananya Mishra! </mark></p>
            <p class="about-writing">&emsp;&emsp;hii~ my name is ananya mishra and thanks for visiting this webpage! this is my first webpage ever made lol so i appreciate it lots :> </p>
            <p class="about-writing">&emsp;&emsp;this is a great opportunity to introduce myself so here are a few things about me: i'm currently a grade 11 at rhhs and i'm interested in pursuing math, computer science, engineering or something to do with chemistry! stem kid lol. </p>
            <p class="about-writing">&emsp;&emsp;i'm never really sure what to say when people ask "what do you like to do in your free time" or "what's your biggest hobby" but overall i enjoy playing video games (mostly nintendo), watching anime, and other things. </p>
            <p class="about-writing">&emsp;&emsp;h</p>
            <div id="personality">
                
            </div>
            <div id="interests">
                
            </div>
        </div>
        <div class="about-side-bar">
            <p style="margin-left:25px; margin-right:25px; font-size:20px;">here below are some links to the key things talked about on this page -></p>
            <a href="#personality" class="link"><p style="margin-left:25px; margin-right:25px; font-size:20px;">my personality</p></a>
            <a href="#interests" class="link"><p style="margin-left:25px; margin-right:25px; font-size:20px;">my interests</p></a>
        </div>
    </section>
{% endblock %}