<!-- jinja -->
{% extends "index.html" %}

{% block content %}
    <section>
        <div class="home-content">
            <div class="left-side"></div>
            <div class="right-side">
                <img src="static/imgs/ananyaFlowers.jpeg" alt="Right Side Image" class="right-side-image">
            </div>
            <div class="rectangle-overlay">
                <p style="margin: 20px; font-size:30px;">Welcome user! Meet..</p>
                <p style="margin: 20px; font-size:50px; line-height:0.5;"><mark class="highlight1">Ananya Mishra!</mark></p>
                <p style="margin: 20px; font-size:25px;">Nice to meet you! Get to know me in my about me section linked below -></p>
                <a href="/about" class="button2">About Me</a>
            </div>
            <div class="bottom-rectangle"></div>
        </div>
    </section>
{% endblock %}