<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>about me: ananya mishra!</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <header>
            <div class="header-container">
                <a href="/" class="button">home</a>
                <a href="/contact" class="button">contact links</a>
            </div>
            <div class="menu-container">
                <nav>
                    <ul class="nav-links">
                        <li><a href="/about">about me</a></li>
                        <li><a href="/interests">my interests</a></li>
                        <li><a href="/traits">personality traits</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>        
        <script src="static/js/script.js" defer></script>
    </body>
</html>